typer>=0.4.0
ncpol2sdpa==1.12.2
Pyomo==6.10.0
gurobipy>=12.0.1
mosek==11.0.13
scipy>=1.10.0
numpy==1.26.2
pandas>=2.0.0
matplotlib>=3.7.0
scikit-learn>=1.3.0
tslearn>=0.8.1
h5py>=3.11.0
idaes-pse>=2.11.0
torch>=2.1.0
tables
